# Local stuff and temporary
/composer
/sami
/docker-compose
/tmp
/build
/tests/cache

# composer stuff
/composer.lock
/vendor

# npm stuff
/node_modules/
/package-lock.json

# phpunit
phpunit.xml

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.bkp
*.bak
*~
.~lock.*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# Others
/.idea
/.vagrant
Homestead.json
Homestead.yaml
yarn-error.log

# Config
/.env
